.avatar {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}
.avatar li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.9vw;
  height: 20vw;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.avatar img {
  width: 80%;
  height: 80%;
}
.avatar .avatar_active {
  background-color: skyblue;
}
